.dropdown {
    display: flex;
    flex-direction: row;
    width: fit-content !important;
}

.dropdown-item-m {
    display: flex;
    flex-direction: row;
}

.dropdown-item-m>a {
    font-weight: bold !important;
}

.sub-dropdown-item {
    margin-left: 10px;
}

.white-heart {
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.red-heart {
    color: red;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.arrow_left,
.arrow_right {
    color: white;
}

.account__link {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in-out;
}

.account__link:hover,
.account input:focus-visible {
    color: black;
    border-color: black;
}

.address .card .card-title span {
    font-size: 16px;
    font-weight: 700;
    color: #7b7b7b;
}