.dropdown {
    display: flex;
    flex-direction: row;
    width: fit-content !important;
}

.dropdown-item-m {
    display: flex;
    flex-direction: row;
}

.dropdown-item-m>a {
    font-weight: bold !important;
}

.sub-dropdown-item {
    margin-left: 10px;
}

.white-heart {
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.red-heart {
    color: red;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}