</div>
</div>
</div>
<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    // toggle sidebar on windows resize
    $(window).resize(function () {
        if ($(window).width() < 850) {
            $(".sidebar").removeClass("active");
            $(".main,.header").addClass("open");
            $(".main,.header").removeClass("blur");
        } else {
            $(".sidebar").addClass("active");
            $(".main,.header").removeClass("open");
            // $(".main,.header").addClass("blur");
        }
    })

    var elements = $(".sidebar.active .link_names,.sidebar.active .brand-link").each(function (index, element) {
        element.addEventListener('touchstart', function (e) {
            e.preventDefault();
        })
    })

    $(document).ready(function () {

        const currentLocation = location.href;
        $("a").each(function (index, element) {
            const linkRegEx = new RegExp(`^${currentLocation}`)
            if (linkRegEx.test(element.href)) {
                $(element).parent('li').addClass("active");
            }
        });

        // set sidebar toggle state based on device/window width
        if ($(window).width() < 850) {
            $(".sidebar").removeClass("active");
            $(".main,.header").addClass("open");
        } else {
            $(".main,.header").removeClass("open");
            $(".main,.header").removeClass("blur");
            $(".sidebar").addClass("active");
        }

        $(".sidebar-toggler").click(function () {
            $(".main,.header").toggleClass("open");
            $(".sidebar").toggleClass("active");
            if ($(window).width() < 850) {
                $(".header,.main").toggleClass("blur")
            }
        })

        // close sidebar when tapped outside
        $(".main").click(function (e) {
            if ($(window).width() < 850) {
                if ($('.sidebar').hasClass("active")) {
                    $(".sidebar").removeClass("active")
                    $(".header,.main").removeClass("blur")
                }
            }
        })

        $(".sort select").niceSelect();

        // search function
        // $(".search-bar").keyup(function (e) {
        //     $.ajax({
        //         url: "api/search.php",
        //         method: "POST",
        //         data: {
        //             table: $(this).data('table'),
        //             toSearch: $(this).val()
        //         },
        //         success: function (data) {
        //             console.log(data)
        //             $("#list").html(data);

        //         }
        //     })
        // })


    })


</script>
</body>

</html>