html {
    height: 100%;
}

body {
    background-color: var(--black);
    height: 100%;
}

.hero {
    min-height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

.sidebar {
    min-height: 100%;
    width: 70px;
    background-color: var(--purple);
    /* background-color: var(--orange); */
    transition: .4s;
    transition-delay: .2s;
    position: fixed;
    z-index: 3;
}


.sidebar.active {
    min-height: 100%;
    width: 250px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    transition: .4s;
}

.sidebar .links_name {
    width: 200px;
    opacity: 0;
    pointer-events: none;
    transition: .4s;
}

.sidebar.active .links_name {
    opacity: 1;
    transition: opacity .4s;
    transition-delay: .2s;
}

.sidebar .brand .brand_name {
    pointer-events: none;
    opacity: 0;
    transition: .4s;
}

.sidebar.active .brand .brand_name {
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}


.brand {
    height: 70px;
    position: absolute;
    top: 32px;
    left: 20px;
}

.brand-link {
    text-decoration: none;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

.brand-link:hover {
    color: var(--white);
}

.items-list {
    margin-top: 64px;
    padding-inline: 5px;
    padding-block: 25px;
    height: 100%;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.item {
    padding-block: 10px;
    padding-inline: 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.item>a {
    text-decoration: none;
    width: 100%;
    color: var(--white);
    display: inline-grid;
    grid-template-columns: 20px 100px;
    column-gap: 10px;
    grid-auto-flow: column;
}

.item>a>i {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.active {
    background-color: var(--white);
}

.item:hover {
    background-color: var(--white);
    transition: all 200ms ease-in-out !important;
}


.item:hover>a,
.item.active>a {
    color: var(--purple);

}

.header {
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .4s;
    z-index: 2;
    background-color: var(--black);
}

.header.open {
    left: 70px;
    transition: .4s;
    transition-delay: .2s;
}

.profile,
.sidebar-toggler {
    margin: 10px;
    text-align: center;
    cursor: pointer
}

.profile>a,
.sidebar-toggler>i,
.chat>a {
    color: var(--white);
}

.profile>a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.chat {
    margin-right: 5px;
    margin-top: 2px;
    margin-left: auto;
}

.dropdown-menu-dark {
    background-color: var(--black) !important;
}

.main {
    margin-top: 40px;
    margin-left: 250px;
    width: 100%;
    height: 100%;
    transition: .4s;
    overflow-x: hidden;
}

.main.open {
    margin-left: 70px;
    transition: .4s;
    transition-delay: .2s;
}

.blur {
    filter: blur(5px)
}

.new {
    background-color: #222;
    font-weight: 700;
}


@media screen and (max-width: 850px) {
    .main {
        margin-left: 70px;
    }

    .header {
        left: 70px;
    }

}